@using BioEngine.BRC.Common
@using BioEngine.BRC.Common.Routing
@using BioEngine.BRC.Site.ViewModels
@using Microsoft.AspNetCore.Routing
@model BioEngine.BRC.Common.Web.Site.Model.EntityViewModel<BioEngine.BRC.Common.Entities.Topic>
@inject LinkGenerator LinkGenerator
@{
    Layout = "~/Views/_Main.cshtml";
}
<div class="card mb-4">
    @if (Model.Entity.Data.HeaderPicture != null)
    {
        <img class="card-img-top" src="@Model.Entity.Data.HeaderPicture.PublicUri" alt="@Model.Entity.Title"/>
    }
    <section class="card-body">
        <header>
            <h1 class="card-title">
                @Model.Entity.Title
            </h1>
        </header>
    </section>
</div>
<section class="navbar navbar-dark p-2 mb-4">
    <ul class="nav nav-pills darken-2">
        <li class="nav-item">
            <a class="nav-link active" href="@LinkGenerator.GeneratePublicUrl(Model.Entity)">Тема</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@LinkGenerator.GenerateUrl(BrcDomainRoutes.TopicPosts, new {url = Model.Entity.Url})">Публикации</a>
        </li>
    </ul>
</section>
<article class="card mb-4 post">
    <section class="card-body">
        <partial name="Blocks/Blocks" model="@Model.ContentEntityViewModel()"/>
    </section>
    <footer class="card-footer">
        <div class="row justify-content-between">
            <div class="col-3">

            </div>
            <div class="col-5" style="text-aligLn: right">
                <partial name="Share" model="@(new ShareViewModel(Model.Entity.Title, LinkGenerator.GeneratePublicUrl(Model.Entity, Model.Site)))"/>
            </div>
        </div>
    </footer>
</article>
