@model BioEngine.BRC.Common.Web.Models.BlockViewModel<BioEngine.BRC.Common.Entities.Blocks.QuoteBlock, BioEngine.BRC.Common.Entities.Blocks.QuoteBlockData>

<blockquote class="blockquote">
    <div>
        @Html.Raw(Model.Block.Data.Text)
    </div>
    <footer class="author">
        <cite>
            @if (!string.IsNullOrEmpty(Model.Block.Data.Link))
            {
                if (!string.IsNullOrEmpty(Model.Block.Data.Author))
                {
                    <a href="@Model.Block.Data.Link">&mdash; @Model.Block.Data.Author</a>
                }
                else
                {
                    <a href="@Model.Block.Data.Link">Источник</a>
                }
            }
            else if (!string.IsNullOrEmpty(Model.Block.Data.Author))
            {
                <text>&mdash; @Model.Block.Data.Author</text>
            }
        </cite>
    </footer>
</blockquote>
@if (Model.Block.Data.Picture?.PictureInfo?.SmallThumbnail != null)
{
    <div class="picture">
        <img src="@Model.Block.Data.Picture.PictureInfo.SmallThumbnail.PublicUri" alt="@Model.Block.Data.Picture.FileName"/>
    </div>
}
